@import '../../assets/styles/variables.css';
@import '../../assets/styles/fonts.css';

.order-form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-name-order {
  color: var(--second-color);
  font-family: Lato-Regular, sans-serif;
  font-size: calc(var(--space-xs) + 4px);
}

.order-form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--space-xs) - 7px);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.order-title-container {
  width: 100%;
  margin-top: var(--space-md);
  border-bottom: 1px solid var(--divider-color);
}

.order-title-container span {
  font-family: Lato-Regular, sans-serif;
  font-size: calc(var(--space-lg));
  text-transform: uppercase;
  color: var(--color-dark);
}

.order-form-text-field .MuiInputLabel-root {
  font-family: Lato-Regular, sans-serif;
  color: var(--divider-color);
}

.order-form-text-field .MuiInput-underline:before {
  border-bottom: 1px solid var(--divider-color);
}

.MuiButton-root.confirm-order-btn {
  text-transform: uppercase;
  color: #fff8f0;
  background-color: var(--second-color);
  font-family: Lato-Regular, sans-serif;
  border-radius: 0;
  width: calc(var(--space-xxl) + 30px);
}

.MuiButton-root.confirm-order-btn:hover {
  background-color: var(--text-shadow-color);
}

.MuiButton-root.cancel-order-btn {
  text-transform: uppercase;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 0;
  width: calc(var(--space-xxl) + 30px);
}

.order-form-message {
  margin-top: calc(var(--space-sm) - 5px);
  font-family: Lato-Regular, sans-serif;
  color: var(--color-gray);
}
