footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 241px;
  width: 1200px;
  max-width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ab9988;
  border-top: 1px solid #ab9988;
  bottom: 40px;
  display: flex;
  align-items: center;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo-container {
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  border-right: 1px solid #ab9988;
  gap: 17px;
}

.team-name {
  font-size: 40px;
  color: #063526;
}

.developers-container {
  height: 140px;
  width: 211px;
  display: flex;
  margin-left: 101px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.developers-header {
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  text-align: left;
  color: #24221f;
  text-transform: uppercase;
}

.developers-list {
  display: grid;
  grid-template-columns: repeat(2, 86px);
  column-gap: 47px;
  row-gap: 10px;
  justify-items: center;
}

.developer-link,
.information-link {
  text-decoration: none;
  font-size: 16px;
  color: #24221f;
}

.information-links-container {
  display: flex;
  flex-direction: column;
  margin-left: 201px;
  gap: 10px;
}
