.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catalog {
  display: flex;
  flex-grow: 1;
  margin-top: 60px;
  margin-bottom: 100px;
  min-height: calc(100vh - 160px);
}

.container {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  flex-grow: 1;
}

.title {
  font-weight: var(--font-regular);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-titles);
  text-transform: uppercase;
  color: var(--second-color);
  border-bottom: var(--border-dark);
  padding-bottom: var(--space-xs);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-md);
}

.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--filter-gap);
}

.categories {
  padding-block: 5px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.categories svg {
  position: absolute;
  right: var(--space-sm);
  top: calc(50% - 16px);
  z-index: 1;
}

.search {
  position: relative;
  grid-column: span 3;
  padding-block: 5px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 12px;
  min-height: 1400px;
  flex-grow: 1;
  align-content: start;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  grid-column: 1 / -1;
}

.spinner {
  color: #074733 !important;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .filters {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0;
  }

  .search {
    grid-row-start: 0;
    grid-row-end: 1;
    margin-bottom: 5px;
  }
}

@media (max-width: 550px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 30px;
  }
}
