@font-face {
  font-family: 'Lato-Regular';
  src:
    local('Lato Regular'),
    local('Lato-Regular'),
    url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src:
    local('Montserrat Regular'),
    local('Montserrat-Regular'),
    url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src:
    local('Montserrat Bold'),
    local('Montserrat-Bold'),
    url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
body {
  overflow-x: hidden;
}

.page-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding-left: 15px;
  padding-right: 15px;
  max-width: var(--container-width);
  margin: 0 auto;
}
