* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.page-container {
  max-width: var(--container-width);
  margin: 0 auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
}
