.bestseller-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: var(--space-sm);
  min-height: 320px;
  background: var(--bg-gradient);
  border-radius: 4px;
  min-width: 0;
  width: 100%;
  overflow: hidden;
}

.bestseller-category-and-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bestseller-category-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.bestseller-card-main-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bestseller-category-tag {
  background: rgba(255, 255, 255, 0.585);
  padding: 4px 12px;
  font-size: 10px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  border-radius: 5px;
  overflow: hidden;
  text-wrap: nowrap;
  min-width: 0;
  text-overflow: ellipsis;
}

.bestseller-card-title-and-price {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bestseller-card-header {
  display: flex;
  gap: 10px;
}

.bestseller-card-title {
  font-weight: var(--font-bold);
  font-size: 20px;
  line-height: 1.15;
  color: var(--second-color);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bestseller-card-description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  color: #9c9c9d;
  margin: 0;
}

.bestseller-card-price-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: flex-end;
}

.bestseller-price-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.bestseller-old-price {
  text-decoration: line-through;
  color: #9c9c9d;
  font-size: 14px;
}

.bestseller-discount-badge {
  background: #074733;
  color: #fff;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: var(--font-bold);
}

.bestseller-current-price {
  font-size: 18px;
  font-weight: var(--font-bold);
  color: #074733;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.bestseller-card-details {
  border-top: 1px solid #063526;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: auto;
}

.details-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-label {
  display: block;
  font-size: 10px;
  color: var(--color-gray);
  text-transform: uppercase;
}

.details-value {
  font-size: 16px;
  font-weight: var(--font-medium);
  color: var(--color-dark);
}

.bestseller-card-button {
  display: flex;
  align-items: center;
  gap: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.bestseller-card-button-text {
  font-weight: var(--font-extrabold);
  font-size: 16px;
  color: var(--second-color);
}

.bestseller-arrow-right {
  font-size: 18px !important;
  color: var(--second-color);
}
