@font-face {
  font-family: 'Lato-Regular';
  src:
    local('Lato'),
    url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src:
    local('Montserrat-Regular'),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
